* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   padding: 20px;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

#menu- {
   height: 300px;
}

.ratio {
   margin-top: 5px;
   height: 25px;
}

.currency {
   display: flex;
   align-items: flex-end;
}

.currency p {
   margin-left: 10px;
   margin-bottom: 14px;
   width: 40px;
}

.chart-container {
   width: 100%;
   min-height: 220px;
   padding: 10px;
}
